.App {
  background: #F5B41E;
  position: relative;
  overflow: hidden;
  height: 100vh;
  font-family: 'Roboto';
}

.navbar-brand {
  font-size: 25px;
}

.weatherCard {
  background: #F5B41E;
}

.conditionsDate {
  text-align: center;
  font-size: 2em;
  color: #FFFFFF;
}

.conditionsIcon {
  text-align: center;
}

.conditionsOverview p {
  margin-top: -10px;
  margin-bottom: -10px;
  text-align: center;

  font-size: 75px;
  font-weight: bold;
  color: #FFFFFF;

}

.conditionDetails p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;;
}

.conditionLocation p {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}

.loading {
  /*min-height: 100vh; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading .loadingIcon {
    -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
    -webkit-animation: rotateLoading 1.5s ease-in-out infinite;
            animation: rotateLoading 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotateLoading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotateLoading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
